body {
	background: rgb(75,81,111);
	background: linear-gradient(356deg, rgba(75,81,111,1) 100%, rgba(40,40,40,1) 100%);
}

.reg-container {
	background: white;
	width: 45%;
	height: 450px;
	position: absolute;
	top: 17%;
	left: 27%;
	border-radius: 20px;
}

.gmail::-webkit-input-placeholder {
	font-size: 15px;
}

.gmail{
	position: relative;
	border-width: 2px;
	border-color: black;
	padding: 10px;
	outline: none;
	border-radius: 20px;
}

.pass{
	position: relative;
	border-width: 2px;
	border-color: black;
	padding: 10px;
	border-radius: 20px;
	outline: none;
	top: 38%;
	right: 4%;
}

.pass::-webkit-input-placeholder {
	font-size: 15px;
}

.register-btn {
	background: green;
	position: relative;
	padding: 13px;
	font-size: 15px;
	top: 49%;
	right: 33%;
	outline: none;
}

.reg-link {
	position: relative;
	top: 72%;
	left: 45%;
}

.reg-qw {
	font-size: 18px;
	position: relative;
	top: 75%;
	left: 36.5%;
}

.gmail-1{
	text-align: center;

}

.pass-1 {
	text-align: right;
}